<body>



<form>
  <div class="form-group">
    <label for="firstNameInput">Imie</label><br>
    <input type="text" class="form-control" id="firstNameInput" aria-describedby="emailHelp" placeholder="Podaj imie">

  </div>
  <div class="form-group">
    <label for="lastNameInput">Nazwisko</label><br>
    <input type="text" class="form-control" id="lastNameInput" aria-describedby="emailHelp" placeholder="Podaj nazwisko">
  </div>
  <div class="form-group">
    <label >Email</label><br>
    <input type="email" class="form-control" id="email1Input" aria-describedby="emailHelp" placeholder="podaj email">
  </div>
  <div class="form-check">
    <label >Płeć</label><br>
    <input class="form-check-input" type="radio" name="menRadios" id="manRadios1" value="option1" >
    <label class="form-check-label" for="manRadios1">
      Mężczyzna
    </label>
    <input class="form-check-input" style="margin-left: 10px" type="radio" name="womanRadios" id="womanRadios1" value="option2" >
    <label style="margin-left: 30px" class="form-check-label" for="womanRadios1">
      Kobieta
    </label>
  </div>
  <div class="form-group">
    <label for="descriptionInput">Opis</label><br>
    <textarea class="form-control" id="descriptionInput" aria-describedby="emailHelp" placeholder="Podaj nazwisko">
        </textarea>
  </div>
  <div class="form-group">
    <label>Wiek:</label><br>
    <select class="custom-select">
      <option selected>Open this select menu</option>
      <option value="1">18</option>
      <option value="2">19</option>
      <option value="3">20</option>
    </select>
  </div>
  <div class="form-group">
    <label>Stan cywilny:</label><br>
    <select class="custom-select">
      <option selected>Open this select menu</option>
      <option value="1">18</option>
      <option value="2">19</option>
      <option value="3">20</option>
    </select>
  </div>
  <div>
    <input type="button" value="Wyczyść">
    <input type="button" value="Wyślij">
  </div>
</form>

</body>
