/* You can add global styles to this file, and also import other style files */
html {
  scroll-behavior: smooth;
}


li{
  display: inline;
}
a{
  margin-right: 100px;
}
.scroll {
  position: fixed;
  bottom: 30px;
  right: 30px;

}
.correct{
  background-color: green;
}
.incorrect{
  background-color: red;
}
